/*  */
/*  */
body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* text-align: center; */
}

.container {
  position: relative;
  margin: 20px 30px;
}

.copyMe {
  display: inline-block;
  padding: 15px;
  border: 1px solid black;
  position: absolute;
  max-width: 120px;
  text-align: center;
  height: 40px;
  cursor: pointer;
  /* margin: 0 3px; */
  padding: 5px 10px;
}

.new {
  color: #fff;
}

#garbage {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 100px;
  top: 300px;
  background-color: #000;
  /* z-index: 72; */
}
