/*  */
/*  */
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stars {
  list-style-type: none;
  padding: 0;
}

.star {
  font-size: 2.5rem;
  color: #ddd;
  display: inline-block;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}

.output {
  margin: 50px 0;
  padding: 10px;
  border: 1px solid #eee;
  background-color: #ddd;
  width: 100%;
}
